<div class="toolbar" fxLayout="row" fxFlex="100%" fxLayoutGap="10px">
  <div fxLayout="column" fxFlex="40%" fxLayoutGap="10px">
    <div fxFlex="40%">
      <span class="toolbar__header">What are you looking for?</span>
    </div>
    <div fxFlex="40%">
      <app-searchbar #searchbar></app-searchbar>
    </div>
    <div fxFlex="100%">
      <mat-chip-row
        class="toolbar__chip-row toolbar__badge-spacing"
        *ngIf="filters.cityFilter !== ''"
        [editable]="false"
        (removed)="remove(0)"
      >
        {{ filters.cityFilter }}
        <button matChipRemove [attr.aria-label]="'remove'">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <mat-chip-row
        class="toolbar__chip-row toolbar__badge-spacing"
        *ngIf="filters.companyFilter !== ''"
        [editable]="false"
        (removed)="remove(1)"
      >
        {{ filters.companyFilter }}
        <button matChipRemove [attr.aria-label]="'remove'">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </div>
  </div>
  <div fxLayout="column" fxLayoutWrap fxFlex="25%" fxLayoutGap="10px">
    <div fxFlex="25%">
      <span class="toolbar__header">City</span>
    </div>
    <div fxFlex="25%">
      <mat-form-field [style.width.%]="100">
        <mat-label>All</mat-label>
        <mat-select #matRefCity>
          <mat-option
            *ngFor="let city of citiesFilters"
            [value]="city"
            (click)="updateFilterParams(0, city)"
          >
            {{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="">
      <div
        *ngIf="filters.cityFilter !== '' || filters.companyFilter !== ''"
        class="toolbar__spacing"
      ></div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutWrap fxFlex="25%" fxLayoutGap="10px">
    <div fxFlex="25%">
      <span class="toolbar__header">Company</span>
    </div>
    <div fxFlex="25%">
      <mat-form-field [style.width.%]="100" class="toolbar__test-button">
        <mat-label>All</mat-label>
        <mat-select #matRefCompany>
          <mat-option
            #dropdown
            (click)="updateFilterParams(1, category)"
            *ngFor="let category of companyFilters"
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="">
      <div
        *ngIf="filters.cityFilter !== '' || filters.companyFilter !== ''"
        class="toolbar__spacing"
      ></div>
    </div>
  </div>
  <div fxFlex="10%" fxLayoutAlign="flex-end center">
    <button mat-raised-button color="primary" (click)="submitFilters()">
      SEARCH
    </button>
  </div>
</div>
