.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: #fff
  }

  .mat-mdc-row:hover {
    box-shadow:   7px -5px 12px -6px rgba(0,0,0,0.75);
    background-color: rgb(103 58 183 / 11%) !important;
  }

  .table {
    &__hide {
        visibility: hidden;
    }
  }

  .mat-column-update {
    width: 100px;
  }

  .mat-column-delete {
    width: 100px;
  }

