<div fxLayout="column" fxLayoutGap="18px" fxFlex="100">
  <div fxLayout="row" fxLayoutWrap fxFlex="100" fxLayoutAlign="center center">
    <mat-icon class="delete__icon">cancel</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutWrap fxFlex="100" fxLayoutAlign="center center">
    <span class="delete__question">Are you sure?</span>
  </div>
  <div fxLayout="row" fxLayoutWrap fxFlex="100" fxLayoutAlign="center center">
    <span class="delete__message"
      >Do you really want to delete this record? This action cannot be
      undone</span
    >
  </div>

  <div
    fxLayout="row"
    fxLayoutWrap
    fxFlex="100"
    fxLayoutAlign="center center"
    fxLayoutGap="18px"
  >
    <button mat-raised-button color="warn" (click)="closeDialog()">
      CANCEL
    </button>
    <button mat-raised-button color="primary" (click)="deleteUser()">
      DELETE
    </button>
  </div>
</div>
